/* Estilos para la barra de navegación */

.navbar {
    background-color: $color-fondo;
  
    /* Cambia el color de fondo*/
  }
  
  .navbar-brand {
    color: #436d46;
  
    /* Cambia el color del texto de la marca */
    font-size: 1.5rem;
  
    /* Ajusta el tamaño del texto de la marca */
  }
  
  .navbar-nav .nav-link {
    color: #436d46;
  
    /* Cambia el color del texto de los enlaces de navegación */
    font-size: 1.2rem;
  
    /* Ajusta el tamaño del texto de los enlaces de navegación */
  }
  
  .navbar-toggler-icon {
    background-color: #436d46;
  
    /* Cambia el color del icono del botón desplegable en pantallas pequeñas */
  }
  
  .navbar {
    background: linear-gradient(to bottom, $color-fondo, #d5e8d4);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-nav .nav-link {
    color: #436d46;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
  
    /* Ajusta la duración y la función de tiempo para una transición más suave */
  
    &:hover {
      color: #6fa66e;
  
      /* Cambia el color al pasar el mouse */
    }
  }
  
  .navbar-toggler-icon {
    background-color: #436d46;
    border: 1px solid $color-fuentes;
  
    /* Añade un borde para mayor contraste */
    border-radius: 3px;
  }
  
  .navbar {
    &.fixed-top {
      background-color: $color-fondo;
  
      /* Otros estilos según sea necesario */
    }
  
    max-width: 550px;
  
    /* Establece el ancho máximo de la barra de navegación */
    margin: 0 auto;
  
    /* Centra la barra de navegación */
  }
  
  /* Estilos para la barra de navegación en animales.html */
  