/* Estilos para el carrusel */

.carousel-inner {
    border-radius: 10px;
  
    /* Bordes redondeados para el carrusel */
    overflow: hidden;
  
    /* Oculta el contenido que desborda del carrusel */
  }
  
  .carousel-item {
    text-align: center;
  
    /* Centra el contenido del carrusel */
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
  
    /* Fondo semi-transparente para la leyenda */
    border-radius: 5px;
  
    /* Bordes redondeados para la leyenda */
    padding: 15px;
  
    /* Espaciado interno para la leyenda */
  }
  .carousel-inner img {
    width: 100%;
    height: auto;
 }
 